<ion-view class="main" view-title="SCaN Now">
  <ion-content>
    <img class="main-nasa-logo" src="img/nasa-logo.png">
    <br />
    <ion-item class="main-btns col button" onclick="window.open('https://eyes.nasa.gov/dsn/dsn.html', '_blank', 'location=yes'); return false;">
      DSN
    </ion-item><br />
    <ion-item class="main-btns col button" onclick="window.open('http://nen.gsfc.nasa.gov/#/nen', '_blank', 'location=yes'); return false;">
      NEN
    </ion-item>
    <br />
    <ion-item class="main-btns col button" onclick="window.open('https://eyes.nasa.gov/dsn/dsn.html', '_blank', 'location=yes'); return false;">
      SN
    </ion-item>
  </ion-content>
</ion-view>
