<ion-view class="nen-page" title="NEN">
  <ion-content >
    <div class="list">
      <div class="item text-bubble">
        <br />
        <p style="text-align: center;">Info about NEN</p>
        <button class="center item blue-btns nen-homelink" href="#" onClick="window.open('http://www.nasa.gov/directorates/heo/scan/services/networks/txt_nen.html', '_blank', 'location=yes')">
          NEN Home
        </button>
        <p style="white-space: normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
          esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
          in culpa qui officia deserunt mollit anim id est laborum</p>
        <br />
        <button class="center item blue-btns" href="#" onclick="window.open('http://nen.gsfc.nasa.gov/#/nen', '_blank', 'location=yes'); return false;">
          Launch NEN Now
        </button> <br />
      </div>
    </div>
  </ion-content>
</ion-view>

