<ion-view class="" view-title="SCaN Now">
  <ion-content>

    <ion-item class=" col button" onclick="window.open('https://eyes.nasa.gov/dsn/dsn.html', '_self', 'location=yes'); return false;">
      Self
    </ion-item><br />
    <ion-item class=" col button" onclick="window.open('https://eyes.nasa.gov/dsn/dsn.html', '_blank', 'location=yes'); return false;">
      Blank
    </ion-item>
    <br />
    <ion-item class="col button" onclick="window.open('https://eyes.nasa.gov/dsn/dsn.html', '_system', 'location=yes'); return false;">
      System
    </ion-item>

  </ion-content>
</ion-view>
