/* Empty. Add your own CSS if you like */
.main {
  background: url(../img/background.jpg);
}

.dsn-page{
  background: url(../img/background-dsn.jpg);
  background-size: cover;
}

.nen-page {
  background: url(../img/background-nen.png);
  background-size: cover;
}
.main-btns {
  opacity: .9;
  background-color: #0B3D91;
  color: #fff;
}

.blue-btns {
  background-color: #035185;
  color: white;
  border-radius: 10px;
  border-color: transparent;
}

.main-nasa-logo {
  margin-left: 25%;
  width:50%;
  margin-top: 50px;
  margin-bottom:50px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.text-bubble {
  background-color: rgba(0,0,0,0.75);
  border-radius: 10px;
  color: #FFF;
  border-color: transparent;
  padding:10px;
  margin:10px;
}

.text-bubble p {
  color: #FFF;
}

.nen-homelink {
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 10px;
  margin-bottom:10px;
}
